@import 'tailwindcss';

@utility flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
@utility skeleton {
  animation: var(--animate-pulse);
  background-color: var(--color-gray-3);
}
